<head>
<title>Deltail user #{user.name}</title>
</head>

<body>

<p>#{user.name}</p>
<br>
<form action="/users/#{user.id}" method="put">
<label for="team_name">Enter user name: </label>
<input id="name" type="text" name="name" value="#{user.name}" required>
<input type="submit" value="OK">
</form>

<a href="/users">Назад</a>
</body>