<head>
<title>Post test</title>
</head>

<body>
<ul>
<table border="1">
<b>Пользователи<b>
each user in users
    <tr>
    <td> <p>#{user.name}</p></td>
    <td><a href="/users/#{user.id}">Подробно</a></td>
    </tr>
<table>
</body>