<!DOCTYPE html>
<html>
<head>

    <title>Post test</title>
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div id="app">
    <a href="/add">Добавить</a>
    <p>Пользователи</p>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td> <button class="btn" @click="deleWindow(user)"><i class="fa fa-trash"></i></button>
        </tr>
        </tbody>
    </table>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            users: [],
        },
        methods: {
            getUsers: function () {
                axios
                    .get('/users')
                    .then(
                        response => {
                            //   console.log(response);
                            this.users = response.data;
                        }
                    )
                    .catch(
                        // error=>console.log(error)
                    )
            },
            delete(item) {
                console.log("delete");
            },
            deleWindow(item){
                console.log(item.id);
                axios.delete('/',params)
            },


        },
        beforeMount() {
            console.log("test");
            this.getUsers()
        }
    })
</script>
</body>
</html>